.logo_place_header {
  position: absolute;
  background: url(../../../images/logo_place_header.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 32px;
  top: 30px;
  left: 64px;
}
